.title {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

#region {
  border: 2px solid black;
  border-radius: 25px;
  padding: 1%;
  height: fit-content;
  width: 10vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 7rem;
}
#sales-graph {
  width: 90vw;
}
.graph-div {
  display: flex;
}

